<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiban.springcloud.alibaba.dao.AccountDao">
  <resultMap id="BaseResultMap" type="com.yiban.springcloud.alibaba.domain.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="used" jdbcType="DECIMAL" property="used" />
    <result column="residue" jdbcType="DECIMAL" property="residue" />
  </resultMap>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yiban.springcloud.alibaba.domain.Account" useGeneratedKeys="true">
    insert into t_account (user_id, total, used, residue)
    values (#{userId,jdbcType=BIGINT}, #{total,jdbcType=DECIMAL}, #{used,jdbcType=DECIMAL},
      #{residue,jdbcType=DECIMAL})
  </insert>

  <update id="decrease">
    update
        t_account
    set
        used = used + #{money}, residue = residue - #{money}
    where
        user_id = #{userId}
  </update>
</mapper>